.inicio {
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px ;
margin: auto;
background-color: aliceblue;
}

.first__inicio {
display: flex;
justify-content: center;
align-items: center;
padding: 20px, 0px, 20px, 20px;
padding-top: 40px;
margin: auto;

}

.left__fist__inicio {
display: flex;
flex-direction: column;
max-width: 550px;
justify-content: space-between;


}

.inicio__title {
font-size: 35px;
font-weight: bold;
color: black;
margin: 0;

}

.inicio__subtitle {
font-size: 35px;
font-weight: bold;
color: blue;
margin: 0;
}
.inicio__btns{
display: flex;
gap: 20px;
}
.inicio__text {
font-size: 1rem;
color: gray;
margin-top: 20px;
max-width: 450px;
}

.inicio__btn-reservation {
display: flex;
flex-direction: row;
background-color: blue;
color: white;
border: none;
width: 200px;
height: 35px;
border-radius: 8px;
cursor: pointer;
align-items: center;
  justify-content: center;
  
}

.inicio__btn-about {
background-color: white;
color: rgb(4, 184, 4);
border-color: rgb(4, 184, 4);
width: 200px;
height: 35px;
border-radius: 8px;
cursor: pointer;
display: flex;
flex-direction: row;
align-items: center;
  justify-content: center;
}
.inicio__botton-text {
font-size: 1rem;
font-weight: bold;
margin: 0;
padding: 0;
text-align: center;
color: rgb(4, 184, 4);
}
.inicio__reservation {
  background-color: blue;
  color: white;
  border: none;
}
.inicio__about {
  background-color: white;
  color: rgb(4, 184, 4);
  border: none;
  
}

.right__fist__inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background: linear-gradient(45deg, rgb(204, 235, 255), rgb(208, 247, 223));
  border-radius: 12px;
}

.inicio__img1 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}
.inicio__image-calendar {
  width: 20px;
  height: 20px;
}

.inicio__image-conocemas {
  width: 20px;
  height: 20px;
}