.header {
 display: flex;
 margin: auto;
 justify-content: space-around;
 align-items: center;
 padding: 16px;
 background-color: white;
 margin-top: 5px;

}

.header__left {
 align-items: center;
 
}
.header__name {
 color: blue;
 font-weight: bold;
 font-size: 24px;
}
.header__right {
 display: flex;
 align-items: center;
 font-size: 14px;
 justify-content: space-between;
 gap: 20px;
}

.header__inicio {
 margin-right: 1rem;
}

.header__servicios {
 margin-right: 1rem;
}

.header__sobre__mi {
 margin-right: 1rem;
} 

.header__contacto {
 margin-right: 1rem;
}

.header__btn {
 background-color: blue;
 color: white;
 border: none;
 padding: 0.5rem 1rem;
 border-radius: 8px;
 cursor: pointer;
}